ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:   salmon;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: lightblue;
  }

  body {
      background: url("./images/gta-land.jpg");
      background-position: center;
      background-repeat: no-repeat;
  }

  * {
      margin: 0;
      padding: 0;
  }

  .title {
      color: violet;
      font-family: 'Times New Roman', Times, serif;
      font-size: 50px;
      text-align: center;
  }

  .all-pricings {
      height: 300px;
      /* background: orange; */
      margin-top: 50px;
  }

  .add-button {
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
  }

  .plus {
    text-align: center;
    font-size: 30px;
  }

  .add-button:hover {
      box-shadow: 5px 10px 10px lightgreen;
      background: green;
  }